@font-face{
    font-family:'MonaS12';
  
    src:url('MonaS12.ttf') format('truetype');
  }
  
  @font-face{
    font-family:'MonaS12Bold';
  
    src:url('MonaS12-Bold.ttf') format('truetype');
  }
  

  html, body{
    margin:0;
    padding:0;
  
    width:100%;
    height:100%;
  
    overflow:hidden;
  
    background:#ffffff;
  }
  
  body{
    font-family:'MonaS12';
  }
  
  /* stage 삭제 */
  
  .top-menu{
    position:fixed;
  
    top:28px;
    left:32px;
    right:32px;
  
    display:flex;
    justify-content:space-between;
  
    z-index:100;
  }
  
  .main-container{
    position:relative;
  
    width:100vw;
    height:100vh;
  }

/* ---------------- */
/* 로고 */
/* ---------------- */
.logo-wrap{
  position:absolute;

  top:30px;
  left:50%;

  transform:translateX(-50%);

  width:187.52px;
  height:69.36px;

  overflow:visible;
}

.logo{
  position:absolute;

  left:50%;
  top:50%;

  width:140px;

  transform:translate(-50%, -50%);

  z-index:5;
}


/* ---------------- */
/* 왼쪽 UI */
/* ---------------- */

.left-ui{
    position:absolute;
    left:70px;
    top:185px;
  }
  
  .jump{
    position:absolute;
    width:110px;
    left:260px;
    top:165px;
  }
  

  .luck-button{
    width:280px;
    margin-top:60px;
    margin-left:40px;
    z-index:5;
  
    display:block;
  }

  .luck-button-wrap{
    position:relative;
  
    width:260px;
    height:auto;
  
    margin-top:40px;
    margin-left:40px;
  
    cursor:pointer;
  
    display:inline-block;
  }

  .luck-button-wrap:hover{
    transform:scale(1.08);
  }
  
  .luck-button{
    width:100%;
    display:block;
  
    pointer-events:none;
  }
/* 떠다니는 효과 */

.floating{
  animation:floating 3s ease-in-out infinite;
}

@keyframes floating{
  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-12px);
  }

  100%{
    transform:translateY(0px);
  }
}

/* ---------------- */
/* 중앙 방 */
/* ---------------- */

.room-area{
  position:absolute;

  left:50%;
  top:52%;

  transform:translate(-50%, -50%);

  width:740px;

  z-index:1;
}

.room-visual{
  position:relative;
  width:100%;
  overflow:hidden;
}

.room{
  width:100%;
  display:block;
  position:relative;
  z-index:1;
}

.room-color{
  position:absolute;
  inset:0;

  background:transparent;
  opacity:0;

  pointer-events:none;
  z-index:2;

  filter:blur(18px);
  transform:scale(0.35);
  transform-origin:100% 0%;

  transition:
    opacity 0.5s ease,
    transform 0.8s cubic-bezier(0.65,0,0.35,1);
}

.room-color.spray{
  opacity:0.5;
  transform:scale(1.15);
}

.element-effects{
  position:absolute;
  inset:0;

  pointer-events:none;
  overflow:hidden;

  z-index:3;
}

.effect-icon{
  position:absolute;

  height:auto;

  opacity:0;

  animation:floatElement 3.8s ease-in-out forwards;
}



@keyframes floatElement{
  0%{
    opacity:0;
    transform:translateY(20px) scale(0.8);
  }

  25%{
    opacity:1;
  }

  70%{
    opacity:1;
    transform:translateY(-18px) scale(1);
  }

  100%{
    opacity:0;
    transform:translateY(-38px) scale(0.9);
  }
}


.room-title-wrap{
  position:absolute;

  left:50%;
  bottom:-78px;

  transform:translateX(-50%);

  width:740px;

  overflow:hidden;

  white-space:nowrap;
}

.room-title{
  display:inline-block;

  font-family:'MonaS12Bold';

  font-size:44px;

  white-space:nowrap;

  animation:marqueeTitle 14s linear infinite;
}

@keyframes marqueeTitle{
  from{
    transform:translateX(-50%);
  }

  to{
    transform:translateX(0%);
  }
}

/* ---------------- */
/* 부적 */
/* ---------------- */

.talisman-area{
    position:absolute;
    left:50px;
    bottom:85px;
    width:420px;
    height:300px;
    overflow:visible;
    z-index:10;
  }
  
  .talisman-card{
    width:420px;
    cursor:pointer;
    transition:
    transform 0.25s cubic-bezier(0.65,0,0.35,1);
    transform-origin:center;
  }

  .talisman-card:hover{
    transform:scale(1.08);
    z-index:10;
  }

.talisman-card.clicked {
    transform: scale(1.08);
}


/* ---------------- */
/* 룸스프레이 */
/* ---------------- */

.spray-area{
    position:absolute;
    right:-80px;
    top:70px;
    z-index:11;
  }
  
  .spray-box{
    width:560px;
    cursor:pointer;
  
    transition:
      transform 0.6s cubic-bezier(0.65,0,0.35,1);
  }
  
  .spray-box:hover{
    transform:scale(1.05);
  }
  
  .spray-box.rotate{
    transform:rotate(-30deg) scale(1.05);
  }

/* 팝업 */
.return-popup{
  position:fixed;

  inset:0;

  background:rgba(0,0,0,0.4);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:999;

  opacity:0;
  pointer-events:none;

  transition:0.3s;
}

.return-popup.show{
  opacity:1;
  pointer-events:auto;
}

.popup-box{
  background:white;
  padding:30px 40px;

  text-align:center;

  font-family:'MonaS12';
}

.popup-text{
  font-size:20px;
  margin-bottom:20px;
}

.popup-btn{
  font-family:'MonaS12';
  font-size:18px;

  padding:10px 18px;
  margin-right:10px;

  border:2px solid black;
  background:white;

  cursor:pointer;
}

.popup-close{
  font-family:'MonaS12';
  font-size:16px;

  background:none;
  border:none;

  cursor:pointer;
}