body {
    margin: 0;
    background: white;
    overflow: hidden;
  }
  
  .loading-screen {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
  
    gap: 36px;
  }
  
  /* ---------------- */
  /* 오행 아이콘 */
  /* ---------------- */
  
  .icons {
    display: flex;
    gap: 18px;
  
    transition:
      opacity 0.5s cubic-bezier(0.65, 0, 0.35, 1),
      transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
  
  .icons.hide {
    opacity: 0;
    transform: translateY(-8px);
  }
  
  .icon {
    width: 50px;
  
    opacity: 0;
    transform: translateY(10px);
  
    animation: iconFade 0.6s forwards;
  }
  
  .icon:nth-child(1) { animation-delay: 0.2s; }
  .icon:nth-child(2) { animation-delay: 0.4s; }
  .icon:nth-child(3) { animation-delay: 0.6s; }
  .icon:nth-child(4) { animation-delay: 0.8s; }
  .icon:nth-child(5) { animation-delay: 1s; }
  
  @keyframes iconFade {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* ---------------- */
  /* 텍스트 영역 */
  /* ---------------- */
  
  .text-area {
    position: relative;
  
    width: 180px;
    height: 60px;
    margin-top: -100px;
  }
  
  .korean,
  .english {
    position: absolute;
  
    left: 50%;
    top: 50%;
  
    transform: translate(-50%, -50%);
  }
  
  /* ---------------- */
  /* 오운 */
  /* ---------------- */
  
  .korean {
    width: 120px;
  
    opacity: 0;
  
    transition:
      opacity 0.6s cubic-bezier(0.65, 0, 0.35, 1),
      transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  }
  
  .korean.show {
    opacity: 1;
  }
  
  .korean.hide {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 8px));
  }
  
  /* ---------------- */
  /* oun */
  /* ---------------- */
  
  .english {
    width: 200px;
  
    opacity: 0;
  
    transform: translate(-50%, calc(-50% + 2px));
  
    transition:
      opacity 0.6s cubic-bezier(0.65, 0, 0.35, 1),
      transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  }
  
  .english.show {
    opacity: 1;
    transform: translate(-50%, -50%);

loading-screen.fade-out {
        opacity: 0;
        transition: opacity 1s ease;
        pointer-events: none;
      }
  }